*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: white;
  text-decoration: none;
}



/* ///////////////////////// */
/*////////////// header   ///////*/

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 37px 84px;
}

.header{
  max-width: 1440px;
  width: 100%;
}

.logo img{
  width: 234px;
}

.navigation{
  display: flex;
  gap: 30px;
}

.navigation a{
  padding: 5px 10px;
  color: #262626;
  font-size: 14px;
  font-weight: 700;
}

.navigation a img{
  width: 47px;
  line-height: 100%;
}

.contact{
  background-color: #4CE0D7;
}