*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

body {
  background: #f9f9f9;
  color: #222;
}


/*-============ first section =========*/



.hero {
  height: 400px;
  background: url("./assets/img\ S1.png") center/cover no-repeat;
  border-radius: 30px;
  margin: 30px;
  position: relative;
}

.hero-overlay {
  position: absolute;
  bottom: 40px;
  left: 40px;
  color: #FFFFFF;
}

.hero-category {
  font-size: 14px;
  opacity: 0.8;
}

.hero h1 {
  font-size: 36px;
  margin: 10px 0;
}

.hero-overlay h1 span{
  color: #00bfa6;
.container {
  max-width: 1200px;
  margin: auto;
  padding: 40px 20px;
}


/* ///////////////////////// */
/*////////////// header   ///////*/

.header {
  background: #fff;
}

.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: bold;
  font-size: 20px;
}

.logo span {
  color: #00bfa6;
}

.nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #262626;
}

.btn-primary {
  padding: 10px 20px;
  border: none;
  background: #00bfa6;
  color: white;
  border-radius: 20px;
  cursor: pointer;
}