*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}


/*-============ first section =========*/



.hero {
  height: 400px;
  background: url("./assets/img\ S1.png") center/cover no-repeat;
  border-radius: 30px;
  margin: 30px;
  position: relative;
}

.hero-overlay {
  position: absolute;
  bottom: 40px;
  left: 40px;
  color: #FFFFFF;
}

.hero-category {
  font-size: 14px;
  opacity: 0.8;
}

.hero h1 {
  font-size: 36px;
  margin: 10px 0;
}

.hero-overlay h1 span{
  color: #00bfa6;
}