*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}


/*-============ first section =========*/

.first-section{
  color: #000000;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  padding-left: 141px;
  
}

.first-section {
  height: 100vh;
  background-image: url(./assets/img\ S1.png);
  background-size: 1272px;
  background-position: 84px;
  background-repeat: no-repeat;
}

.first-section {
  margin: 20px;
}

