* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #f9f9f9;
  color: #222;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 40px 20px;
}


/* ///////////////////////// */
/*////////////// header   ///////*/

.container {
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 10px;
}

.header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 62px;
}

.nav-link {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  color: #262626;
  text-decoration: none;
}

.nav-link:hover {
  color: darkcyan;
}

.navigation {
  display: flex;
  gap: 50px;
}

.button img {
  position: absolute;
  width: 47px;
  height: 47px;
  top: 37px;
  right: 84px;
}